body{
    display: flex;
    margin: 5em ;
background: url("src/images/Krusty.gif") no-repeat center center fixed;


background-size: cover;
}
.button{
    margin-left: -2em;
}
header {
 margin-left: 25px;
} 
#jokeSubmitButton{

justify-content: left;
}

.jokeContent h1{
    border-top: 140em;   
}
.jokeOfTheDay{
   border-bottom: 40em;}
  
   .jokeContent{
       border-left: 100px;
   }